In [1]:
import pandas as pd

In [4]:
Loans = pd.read_csv('C://Users/kiimi/Downloads/Loans/Default_Fin.csv',index_col=0)

In [5]:
Loans.head()

       Employed  Bank Balance  Annual Salary  Defaulted?
Index
1             1       8754.36      532339.56           0
2             0       9806.16      145273.56           0
3             1      12882.60      381205.68           0
4             1       6351.00      428453.88           0
5             1       9427.92      461562.00           0

In [6]:
feature_cols = ['Employed','Bank Balance','Annual Salary']

X = Loans[feature_cols]

In [7]:
X.head()

       Employed  Bank Balance  Annual Salary
Index
1             1       8754.36      532339.56
2             0       9806.16      145273.56
3             1      12882.60      381205.68
4             1       6351.00      428453.88
5             1       9427.92      461562.00

In [8]:
y = Loans['Defaulted?']

In [9]:
y.head()

Index
1    0
2    0
3    0
4    0
5    0
Name: Defaulted?, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
logreg = LogisticRegression(solver='liblinear')

In [13]:
logreg.fit(X_train,y_train)

LogisticRegression(solver='liblinear')

In [14]:
y_pred = logreg.predict(X_test)

In [15]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.9684